{% extends 'layout.html' %}

{% block main %}
<script type="text/javascript" src="/public/js/lib/xheditor/xheditor-1.2.2.min.js"></script>
<script type="text/javascript" src="/public/js/lib/xheditor/zh-cn.js"></script>
<ol class="breadcrumb">
    <li><a href="/admin/">管理首页</a></li>
    <li><a href="/admin/content">内容列表</a></li>
    <li><span>内容添加</span></li>
</ol>
<h3>内容添加</h3>
<form method="post">
    <div class="form-group">
        <label>所属分类</label>
        <select name="ddl_category" class="form-control">
            {% for category in categorys %}
            <option value="{{category._id.toString()}}">{{category.name}}</option>
            {% endfor %}
        </select>

        <label for="txt_title">标题</label>
        <input type="text" class="form-control" maxlength="50" id="txt_title" name="txt_title" placeholder="请输入标题">

        <label for="txt_description">简介</label>
        <textarea class="form-control" id="txt_description" name="txt_description" rows="5" placeholder="请输入简介" style="resize:none;"></textarea>

        <label for="txt_content">内容</label>
        <textarea class="form-control xheditor" id="txt_content" name="txt_content" rows="10" placeholder="请输入内容" style="resize:none;" ></textarea>

    </div>
    <button type="submit" class="btn btn-default">提交</button>
</form>

{% endblock %}
